<h1>Lista de Consultas</h1>
<% @appointments.each do |appointment| %>
  <%= link_to appointment.doctor.name, appointment_path(appointment) %>
<% end %>
<p><%= link_to 'Retornar ao menu principal', root_path %></p>
