<h1>Calendário de Consultas</h1>
<p><%= link_to 'Retornar ao menu principal', root_path %></p>
<%= week_calendar(attribute: :starts_at) do |date| %>
  <%= date %>
  <% @appointments.each do |appointment| %>
    <%= link_to "Paciente #{appointment.patient.name}", appointment_path(appointment) %>
  <% end %>
<% end %>
